[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
faker = "*"

[packages]
django = "==1.11.29"
django-redis = "==4.11.0"
django-static-jquery3 = "*"
django-bootstrap3 = "12.1.0"
django-pure-pagination = "*"
mysql-connector-python = "*"
hiredis = "*"
gunicorn = "*"
pipfile = "*"
markdown = "*"

[requires]
python_version = "3.7"
